@import url('https://fonts.googleapis.com/css?family=Lato:100i,400i|Quicksand:400,500&display=swap');

* {
	box-sizing: border-box;
  font-size: 15px;
  cursor: none;
}


body
{
    color: #767676;
    background-color: #000;
    margin: 0;
    width: 100vh;
    height: 100vh;
    display: flex;
}

ul, li
{
    list-style: none;

}

a
{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
}

@media (any-pointer: fine)
{
    .c-cursor
    {
        display: block;
    }
    .c-cursor__inner
    {
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        mix-blend-mode: difference;
        border-radius: 50%;
        z-index: 50;
    }

    .c-cursor__side 
    {
        position: absolute;
        top: 50%;
        width: 5px;
        height: 1px;
        background: #fff;
        opacity: 0;
    }

    .c-cursor__side--left
    {
        right: calc(100% + 5px);
    }

    .c-cursor__side--right
    {
        left: calc(10% + 5px);
    }

    .c-cursor__inner--circle
    {
        width: 25px;
        height: 25px;
        border: 1px solid #fff;
    }
}

/* links  */
.links-wrapper
{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    .link
    {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid #fff;
        padding: 20px 40px;
        transition: all 300ms ease-in-out;
        margin: 0 15px;

        &:hover
        {
            background-color: #fff;
            color: #000;
        }
    }

}

/* burger menu */
.ham
{
    user-select: none;
    border: 2px solid #ffffff;
    border-radius: 50%;
    transition: border-radius 300ms ease-in-out;
}

.hamRotate.active
{
    transform: rotate(45deg);
}

.line 
{
    fill: none;
    transform: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #fff;
    stroke-width: 5.5;
    stroke-linecap: round;
}

.ham1
{
    .top
    {
        stroke-dasharray: 40 139;
    }
    .bottom
    {
        stroke-dasharray: 40 189;
    }

    &.active 
    {
        .top
        {
            stroke-dashoffset: -98px;
        }
        .bottom
        {
            stroke-dashoffset: -138px;
        }
    }
}



