@import url('https://fonts.googleapis.com/css?family=Lato:100i,400i|Quicksand:400,500&display=swap');

* {
	box-sizing: border-box;
  font-size: 15px;
  cursor: none;
}


body
{
    color: #767676;
    background-color: #000;
    margin: 0;
    width: 100vh;
    height: 100vh;
    display: flex;
}

ul, li
{
    list-style: none;

}

a
{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
}

@media (any-pointer: fine)
{
    .c-cursor
    {
        display: block;
    }
}

.c-cursor__inner
{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    border-radius: 50%;
    z-index: 50;
}

.c-cursor__side 
{
    position: absolute;
    top: 50%;
    width: 5px;
    height: 1px;
    background: #fff;
    opacity: 0;
}

.c-cursor__side--left
{
    right: calc(100% + 5px);
}

.c-cursor__side--right
{
    left: calc(10% + 5px);
}

.c-cursor__inner--circle
{
    width: 25px;
    height: 25px;
    border: 1px solid #fff;
}